- append_page_button tv('show'), admin_user_path(user), icon: :info unless params[:action] == 'show'
- append_page_button tv('edit'), edit_admin_user_path(user, redirect_to: url_for(request.params)), color: :success, icon: :pencil unless params[:action] == 'edit'
- append_page_button tv('delete'), admin_user_path(user, redirect_to: ENV['HTTP_REFERER'] || admin_users_path), color: :danger, method: :delete, 'data-confirm' => tv('delete-confirm'), icon: :remove
